:root {
    --black: #000;
    --white: #fff;
    --blue: #0C5EF0;
    --blue-dark: #1045A3;
    --yellow: #F0EC00;
    --pink: #DD137B;
    /*--pink-dark: #A3105C;*/
    --pink-dark: #8C2744;
    /*--beige: lemonchiffon;*/

    --bg-color: var(--yellow);
    --font-color: var(--black);

    --padding: 20; /* number for calculations */

    --nav-height: 80px;
    --nav-top: none;
    --nav-bottom: 0;

    --level-1: 10;
    --level-2: 100;
    --level-3: 1000;

    --main-content-width: 640px;
    --video-width: auto;
    --video-height: calc(100vh - 2 * var(--nav-height));
}

@media only screen and (min-width: 600px) {
    :root {
        --nav-height: min(160px, 16vh);
        --nav-top: 0;
        --nav-bottom: none;

        --video-width: min(1280px, 100vw);
        --video-height: auto;
    }
}

body {
    font-family: Poppins, sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}

button {
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border: none;
    color: var(--font-color);
    background-color: transparent;
}